/*
Author: Josh T
File Name: main.css for Lab 5
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h2, h3, ul, section, aside, figure, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
}

/* by default, center all the text and give it a navy color
set the page background to the checkerboard-cross pattern
make the default font Verdana
*/
body{

    text-align: center;
    background-image: url(images/checkerboard-cross.webp);
    color: rgb(10, 10, 61);

    font-family: Verdana, sans-serif;
}



/* give some margin around every div */
div{
    margin: 2%;
}

/* make the audio and video sections rounded boxes
make the audio section blue
*/
#audio-section, #video-section
{
    margin: 2% 10%;
    padding: 2%;
    background-color: rgb(136, 201, 222);
    border-radius: 20px;
}

/* make the video section indigo */
#video-section
{

    background-color: rgb(136, 173, 222);

}

/* put a navy border around the media players
in a mobile layout, give them a max-width of 50vmin
*/
video, audio{
    border: 5px solid rgb(6, 6, 46);

    max-width: 70vmin;
}

/* make the captions a light blue and make sure they're never smaller than 14px font */
::cue {
    color: #e4f6fd;
    font-size: max(14px, 2vmin);
}

#book
{
    display: flex;
    justify-content: center;
    height: 100vmin;
    width: 160vmin;

    margin: 0 auto;
}
  
#rightPage{
    position: relative;


    height: 100vmin;
    width: 80vmin;

    margin: 0;
}

#bottomPage
{
    height: 100%;
    width: 100%;
}


#topPage
{
    display: none;

    position: absolute;

    height: 100vmin;
    width: 80vmin;

    top: 0px;
    left: 0px;
}



/* make all the icons be 10vmins tall */
.icons{

    height: 10vmin;


}

/* when any icon or button is pressed, play the pressed animation */
.icons:active, button:active{
    animation: pressed 0.8s ease;
}

/* give the buttons a blue-gray background
remove their default borders and give them some margin and padding
*/
button{
    background-color: rgb(6, 6, 46);
    color:rgb(136, 173, 222);
    font-weight: bold;

    border: none;
    margin: 2%;
    padding: 10px;
}

/* remove the default border on the select dropdowns */
select{
    border: none;
}

/* place the subheadings in blue-gray boxes
make the select dropdowns blue-gray too
*/
h3, select
{
    background-color: rgb(106, 122, 147);
}

/* place the subheadings in rounded boxes and change their font size 
make sure they never have less than 10px of vericle margin
*/
h3
{
    margin: max(2%, 10px) 10%;
    border-radius: 50px;
    font-size: 3vmin;
}

/* give the headings light blue shadows and some padding */
h1{
    text-shadow: 0px 3px 0px #e4f6fd;
    padding: 2%;

}

/* RULES FOR LARGER LAYOUT */
@media only screen and (min-width : 700px) {

    /* change the width of the video and audio */
    video, audio{
        max-width: 40vmin;
    }

    /* increase the width of the audio and video sections */
    #audio-section, #video-section
    {
        width: 20%;
        margin: 2%;

    }

    /* display the sections in a single row */
    main{
        flex-direction: row;
        justify-content: space-around;
    }

    /* increase the font size of the subheadings */
    h3{
        font-size: 20px;
    }

}


@keyframes pressed{
    /*when the pressed animation starts, shrink the element and make it slightly opaque*/
    0%{
        scale: 90%;
        opacity: 70%;
    }

    /*when the press animation ends, set the element to a normal size and make it not opaque at all*/
    100%{
        scale: 100%;
        opacity: 100%;
    }

}


@keyframes flipToNext{
    /*when the pressed animation starts, shrink the element and make it slightly opaque*/
    0%{
        box-shadow: 0px 0px 25px black;
    }

    50%
    {
        box-shadow: -25px 0px 20px black;
    }

    /*when the press animation ends, set the element to a normal size and make it not opaque at all*/
    100%{
        scale: 5% 100%;
        translate: -40vmin 0px;
    }

}

@keyframes flipToPrevious{
    /*when the pressed animation starts, shrink the element and make it slightly opaque*/
    0%{
        box-shadow: 0px 0px 25px black;
        scale: 5% 100%;
        translate: -40vmin 0px;
    }

    50%
    {
        box-shadow: 25px 0px 20px black;
    }

    /*when the press animation ends, set the element to a normal size and make it not opaque at all*/
    100%{
        scale: 100%;
        translate: 0vmin 0px;
    }

}


