/*
Author: Josh T
File Name: main.css for Lab 0
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h2, h3, ul, section, aside, figure, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
}

body{

    text-align: center;
    background-image: url(images/checkerboard-cross.webp);
    color: rgb(10, 10, 61);

    font-family: Verdana, sans-serif;
}

main{
    display: flex;
    flex-direction: column;
}

div{
    margin: 2%;
}



#audio-section
{
    margin: 2% 20%;
    padding: 2%;
    background-color: rgb(136, 201, 222);
    border-radius: 20px;
}

#video-section
{
    margin: 2% 20%;
    padding: 2%;
    background-color: rgb(136, 173, 222);
    border-radius: 20px;
}

video, audio{
    border: 5px solid rgb(6, 6, 46);

    max-width: 50vmin;
}
.icons{

    height: 10vmin;
}

button{
    background-color: rgb(106, 122, 147);
    border: none;
    margin: 2%;
    padding: 10px;
}

select{
    border: none;
}

h3, select
{
    background-color: rgb(106, 122, 147);
}

h3
{
    margin: max(2%, 10px) 10%;
    border-radius: 50px;
    font-size: 2.8vmin;
}