/*
Author: Josh T
File Name: main.css for Project 2
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h2, h3, ul, section, aside, figure, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
}

/*set the background of the page to the jungle pattern
center the text and make it brown, 14pt Geneva by default
*/
body{
    background-image: url("images/jungle.png");

    text-align: center;
    color: rgb(73, 38, 6);
    font-family: Geneva, Verdana, sans-serif;
    font-size: 14pt;
}

/*place the heading on a mint background
give it some padding and change it to 32pt italic text
*/
h1{
    background-color: rgb(180, 216, 180);
    font-style: italic;
    font-size: 32pt;

    padding: 2%;
}

/*remove the bullet points from the list of nav links.  
place those links in a flex box and space them evenly
give that nav bar a brown background
*/
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;

    background-color: rgb(73, 38, 6);

}

/*give all the nav links a small amount of padding.  
display them as inline blocks
*/
nav li {
    display: inline-block;

    padding: 1em 0.5em;

}

/*remove the text decoration from the links and make them mint*/
nav li a{
    text-decoration: none;
    color: rgb(180, 216, 180);
    background-color: none;

    text-align: center;

}

/*when the nav list items are hovered over, transition them to a dark green background color*/
nav li:hover{
    background-color: rgb(55, 83, 55);
    
    transition: all 0.5s ease;
}

/*set the text of the sub heading to 28pt mint font
when JS is disabled, it will span two columns
*/
h2{
    color: rgb(180, 216, 180);
    font-size: 28pt;
    padding: 2%;


}


/*by default, display the images as squares with brown borders
give these some margin
*/
img{
    display: block;
    width: max(20vw, 300px);
    height: max(20vw, 300px);

    border: groove 20px rgb(73, 38, 6);

    margin: 2% auto;
}

/*place the figcaption in a green box with rounded corners
give it some padding and a margin
*/
figcaption{
    background-color: rgb(55, 83, 55);
    border-radius: 10px;
    padding: max(1%, 10px);
    margin: 10px 25%;
}

/*give all te buttons some margin
and hide them when JS is disabled
make the text within them green and give them green borders
make the text in them bold
*/
button{
    color: rgb(55, 83, 55);
    border: rgb(55, 83, 55) outset 5px;

    font-weight: bold;

    margin: 1em;

    display: none;
}

/*make the text in the back and next buttons 20pt font
give the buttons some padding
round the corners of the buttons and give them transparent white backgrounds
*/
.controls button{
    font-size: 20pt;
    padding: 1%;

    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    border: rgb(55, 83, 55) outset 5px;

}

/*make the text in the gallery change buttons 20pt font
give the buttons a tiny bit of padding
round the corners of the buttons and give them mint backgrounds
*/
.galleryControls button{

    font-size: 16pt;
    padding: 0.5%;

    border-radius: 10px;
    background-color: rgb(180, 216, 180);
}

/*whenever a button element is pressed, play an animation
*/
button:active{
    animation: pressed 1s ease;
}

/*when an element gains the current class,
have it play the easeIn animation
*/
.current{
    animation: easeIn 1s ease;
}

@keyframes easeIn{
    /*when the animation starts, blur the element and shift it to the right*/
    0%{
        filter: blur(8px);
        transform: translateX(30px);
    }

    /*by the end of the animation, remove the blur and put it in the default place*/
    100%{
        filter: blur(0px);
        transform: translateX(0px);
    }

}

@keyframes pressed{
    /*when the animation starts, shrink the element and give it an inset border*/
    0%{
        transform: scale(90%);
        border-style: inset;
    }

    /*when the animation ends, set the element to a normal size and give it an outset border*/
    100%{
        transform: scale(100%);
        border-style: outset;
    }

}
